body {
  margin: 10px;
  font-family: cursive;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pic {
  width: 700px;
}

#title-container {
  background-color: rgb(132, 247, 255);
  display: flex;
  justify-content: space-between;
}


#body-container,
#body-row-two,
#body-row-three,
#body-row-four  {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
  gap: 0.5px;
}

#body-row-one-three {
  display: flex;
}

#body-row-one {
  display: flex;
  flex-direction: column;
}

#body-row-arrangement {
  display: flex;
  flex-direction: row;
}

#body-content-three {
  flex: 0 1 75%;
}

.dark-mode {
  background-color: black;
}

.border {
  border: 1px solid black;
}

.white-border {
  border: 1px solid white;
}

.white-text {
  color: white;
}

.white-background {
  background-color: white;
}

.grey-background {
  background-color: lightslategrey;
}

.standard {
  background-color: lightpink;
}